<% include ../layout/header %>
   <h1 class="text-center">
      Machine
   </h1>
   <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
         <a class="btn btn-lg btn-success" href="/machine/add">Add Machine</a>
      </div>
   </div>
   <div class="container d-flex flex-wrap">
      <% machines.forEach( machine => {%>
         <div class="card bg-dark text-white m-4" style="width: 18rem;">
            <div class="card-body">
               <h5 class="card-title mb-3"> <%= machine.mName %></h5>
               <ul class="list-group">
                  <li class="list-group-item list-group-item-dark"><b>Usage:</b> <%= machine.usage %></li>
                  <li class="list-group-item list-group-item-dark"><b>Warehouse:</b> <%= machine.warehouse %></li>
                  <% if(machine.raws.length > 0){ %>
                     <li class="list-group-item list-group-item-dark">
                        <b>Raw Materials:</b>
                        <ul class="list-group mt-2">
                           <% machine.raws.forEach( raw => { %>
                              <li class="list-group-item list-group-item-dark"><%= raw %></li>
                           <% }) %>   
                        </ul>
                     </li>
                  <% } %>
               </ul>
            </div>
         </div>
      <% }) %>
   </div>
<% include ../layout/footer %>